#logo-div {
    height: 35%;
    display: flex;
    align-items: center; // Alinhamento vertical
    justify-content: center; // Alinhamento horizontal

    h1 {
        text-align: center;
    }

    img {
        width: 150px;
    }

}