<ion-content class="ion-padding">

  <header-login></header-login>

  <form [formGroup]="loginForm" (submit)="createUser()">

    <h3>Criação de Conta</h3>

    <ion-item>
      <ion-icon color="rose" name="person-outline" slot="start" ></ion-icon>
      <ion-input formControlName="name" type="text" placeholder="Nome" autofocus="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon color="rose" name="person-outline" slot="start" ></ion-icon>
      <ion-input formControlName="lastName" type="text" placeholder="Sobrenome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon color="rose" name="mail-outline" slot="start" ></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="E-mail"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon color="rose" name="lock-closed-outline" slot="start" ></ion-icon>
      <ion-input formControlName="password" type="password" placeholder="Senha"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon color="rose" name="lock-closed-outline" slot="start" ></ion-icon>
      <ion-input formControlName="passwordConfirm" type="password" placeholder="Confirmar Senha"></ion-input>
    </ion-item>

    <ion-button [disabled]="loginForm.invalid" type="submit" expand="block" color="rose" fill="clear">Cadastrar</ion-button>
        
  </form>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/auth']" fill="clear" color="rose">Voltar</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
