<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title (click)="logout()">
      iPig na área!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label>Mês</ion-label>
    <ion-datetime displayFormat="MM/YYYY" pickerFormat="MMMM YYYY" [(ngModel)]="date" (ngModelChange)="atualizaContas()"></ion-datetime>
  </ion-item>

  <dash-card tipo="pagar" valor={{conta.pagar.valor}} num={{conta.pagar.num}}></dash-card>
  <dash-card tipo="receber" valor={{conta.receber.valor}} num={{conta.receber.num}}></dash-card>
  <dash-card tipo="saldo" valor={{conta.saldo.valor}} num={{conta.saldo.num}}></dash-card>

  <div id="btnMenu">

    <ion-button fill="outline" color="medium" expand="block" routerLink="/contas/pagar">Contas a pagar</ion-button>
    <ion-button fill="outline" color="medium" expand="block" routerLink="/contas/receber">Contas a receber</ion-button>

  </div>

</ion-content>