<ion-header>
  <ion-toolbar>
    <ion-title>Nova Conta</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="contasForm" (submit)="registraConta()">

    <ion-item>
      <ion-icon color="rose" name="person-outline" slot="start" ></ion-icon>
      <ion-input formControlName="parceiro" type="text" placeholder="Parceiro Comercial" autofocus="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon color="rose" name="document-outline" slot="start" ></ion-icon>
      <ion-input formControlName="descricao" type="text" placeholder="Descrição da conta"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon color="rose" name="wallet-outline" slot="start" ></ion-icon>
      <ion-input formControlName="valor" type="number" placeholder="Valor da conta"></ion-input>
    </ion-item>

    <ion-radio-group formControlName="tipo">
  
      <ion-item>
        <ion-label>Pagar</ion-label>
        <ion-radio slot="start" color="rose" value="pagar" ></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Receber</ion-label>
        <ion-radio slot="start" color="rose" value="receber" ></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-item>
      <ion-label>Vencimento</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" formControlName="date"></ion-datetime>
    </ion-item>

    <ion-button [disabled]="contasForm.invalid" type="submit" expand="block" color="rose" fill="clear">Registrar</ion-button>
        
  </form>

</ion-content>
