<ion-header>
  <ion-toolbar>
    <ion-title>Contas a {{tipo.replace(tipo[0], tipo[0].toUpperCase())}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let conta of listaContas">
      <ion-label>
        <h2>{{conta.parceiro}}</h2>
        <p>{{conta.descricao}}</p>
        <h3>R$ {{conta.valor}}</h3>
      </ion-label>
      <ion-icon slot="end" color="rose" size="small" name="create-outline" (click)="edita(conta)"></ion-icon>
      <ion-icon slot="end" color="rose" size="small" name="trash-outline" (click)="remove(conta)"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/contas/cadastro">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
