<ion-content class="ion-padding">
  
  <header-login></header-login>

  <form [formGroup]="loginForm" (submit)="login()">

    <h3>Login</h3>

    <ion-item>
      <ion-icon color="rose" name="mail-outline" slot="start" ></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="E-mail" autofocus="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon color="rose" name="lock-closed-outline" slot="start" ></ion-icon>
      <ion-input formControlName="password" type="password" placeholder="Senha"></ion-input>
    </ion-item>

    <ion-button [disabled]="loginForm.invalid" type="submit" expand="block" color="rose" fill="clear">Login</ion-button>
        
  </form>


</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/auth/forgot']" fill="clear" color="rose">Esqueci minha senha</ion-button>
    </ion-col>
    <ion-col>
      <ion-button [routerLink]="['/auth/register']" fill="clear" color="rose">Criar conta</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>