<ion-content class="ion-padding">

  <header-login></header-login>

  <form [formGroup]="loginForm" (submit)="recoverPass()">

    <h3>Esqueci minha senha</h3>

    <ion-item>
      <ion-icon color="rose" name="mail-outline" slot="start" ></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="E-mail" autofocus="true"></ion-input>
    </ion-item>

    <ion-button [disabled]="loginForm.invalid" type="submit" expand="block" color="rose" fill="clear">Recuperar Senha</ion-button>
        
  </form>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/auth']" fill="clear" color="rose">Voltar</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
